@using System.Web.Optimization
@{
	ViewBag.Title = "Record";
}

<h1>Record</h1>
<div class="record-container container-fluid">
	<input type="text" name="title" class="title-input"/>

	<div class="live-feedback col-md-7">
		Live feedback!
	</div>
	<div class="action-sidebar col-md 5">
		<button type="button" class="btn btn-default">Weird button</button>
		<button type="button" class="btn btn-danger">Weird button</button>
		<button type="button" class="btn btn-default">Weird button</button>
		<button type="button" class="btn btn-default">Weird button</button>
		<button type="button" class="btn btn-default">Weird button</button>
		<button type="button" class="btn btn-default">Weird button</button>
		<button type="button" class="btn btn-default">Weird button</button>
	</div>
</div>
